<h3>Recipes</h3>

<p>
  <ul>
    <% @recipes.each_with_index do |recipe, index| %>
    <li>
      <a href=<%="/recipe/#{index}"%>><%= recipe.name  %></a>
    </li>
    <% end %>
  </ul>
</p>


<p><a href="/edit">Edit Recipes</a></p>

